
.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: sticky;
    top: 0;
}