.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  width: 70%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.icons-layout {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.line {
  width: 12rem;
  height: 2px;
  background-color: var(--offBlack);
}

.picture {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--offBlack);
  border-style: solid;
  box-shadow: 10px 10px 0px var(--darkGray);
}

.nav-button {
  font-family: "Fuzzy Bubbles", serif;
  font-size: 1.2em;
  width: 15rem;
  height: 3rem;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--offBlack);
  text-align: center;
  align-content: center;
  margin-top: 1rem;
}

.text {
  font-family: "Fuzzy Bubbles", serif;
  font-size: 1.5em;
}