
.gallery-layout {
    height: 100%;
    overflow-x: scroll;
    margin-top: 2rem;
    scrollbar-width: none;
}

.gallery-row {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}