.nav-button {
    width: 15rem;
    height: 3rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--offBlack);
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
}

.text {
    font-family: "Fuzzy Bubbles", serif;
    font-size: 1.5em;
}

.peach {
    background-color: var(--peach);
}

.matcha {
    background-color: var(--matcha);
}

.lavender {
    background-color: var(--lavender);
}

.sky {
    background-color: var(--sky);
}