.gallery-card {
  display: grid;
  width: auto;
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.gallery-card > * {
  grid-row: 1;
  grid-column: 1;
}

.gallery-image {
  height: 20rem;
  width: auto;
}

.pic-infobox {
  display: flex;
  height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.pic-info {
  margin: 1rem;
  color: var(--offWhite);
  text-align: center;
}



