
.navbar {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.selected {
    font-family: "Fuzzy Bubbles", serif;
    font-size: 5.6rem;
    font-weight: 300;
}

.tab {
    font-family: "Montserrat", serif;
    font-size: 1.5em;
    line-height: 1.4;
}

.tab:hover {
    transform: scale(1.15);
    transform-origin: 0% 10%;
    font-weight: 400;
}