
.footer {
    height: 12rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed-regular {
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
}