.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  width: 45vw;
  margin-bottom: 4rem;
  margin-right: 2rem;
  padding: 2rem;
  overflow: auto;
}

.infobox-layout {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  width: 100%;
}
