.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  width: 40vw;
  margin: 3rem;
  padding: 2rem;
  overflow-y: auto;
}

.infobox-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  text-align: left;
  height: 100%;
  width: 100%;
}
