:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --offWhite: #efede6;
  --beige: #c5bcb1;
  --offBlack: #1e1e1d;
  --darkGray: #2c2b2a;
  --sky: #7abfd7;
  --ocean: #1a548e;
  --matcha: #74a12e;
  --forest: #2c6c2b;
  --lavender: #a677c1;
  --grape: #753190;
  --peach: #f59f74;
  --ginger: #c25317;
}

body {
  color: var(--offBlack);
  background-color: var(--offWhite);
}

h1 {
  font-size: 5.6em;
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  margin: 0;
  color: var(--offBlack);
}

h3 {
  font-size: 2em;
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  margin: 0;
  color: var(--offBlack);
}

p {
  font-family: "Roboto Condensed", serif;
  font-size: 1.2em;
  margin: 0;
  color: var(--offBlack);
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1em;
  padding: 0;
  color: var(--offBlack);
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  font-style: normal;
}
