:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --offWhite: #efede6;
  --beige: #c5bcb1;
  --offBlack: #1e1e1d;
  --darkGray: #2c2b2a;
  --sky: #7abfd7;
  --ocean: #1a548e;
  --matcha: #74a12e;
  --forest: #2c6c2b;
  --lavender: #a677c1;
  --grape: #753190;
  --peach: #f59f74;
  --ginger: #c25317;
}

body {
  /* diameter of the circle */
  --d: 4px;
  background: radial-gradient(
      circle at var(--d) var(--d),
      var(--beige) calc(var(--d) - 0px),
      var(--offWhite) var(--d)
    )
    25px 25px / 50px 50px;
  background-attachment: fixed;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: 0px;
}

.offWhite {
  background-color: var(--offWhite);
}

.beige {
  background-color: var(--beige);
}

.offBlack {
  color: var(--offBlack);
}

.darkGray {
  color: var(--darkGray);
}

.sky {
  background-color: var(--sky);
}

.ocean {
  background-color: var(--ocean);
}

.matcha {
  background-color: var(--matcha);
}

.forest {
  background-color: var(--forest);
}

.lavender {
  background-color: var(--lavender);
}

.grape {
  background-color: var(--grape);
}

.peach {
  background-color: var(--peach);
}

.ginger {
  background-color: var(--ginger);
}

body {
  color: var(--offBlack);
  background-color: var(--offWhite);
}

h1 {
  font-size: 5.6em;
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  margin: 0;
  color: var(--offBlack);
}

h3 {
  font-size: 2em;
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  margin: 0;
  color: var(--offBlack);
}

p {
  font-family: "Roboto Condensed", serif;
  font-size: 1.2em;
  margin: 0;
  color: var(--offBlack);
}

a {
  color: var(--offBlack);
  text-decoration: none;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1em;
  padding: 0;
  color: var(--offBlack);
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", serif;
  font-weight: 400;
  font-style: normal;
}

.infobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: 50vw;
  border-style: solid;
  border-color: var(--offBlack);
  border-width: 2px;
  border-radius: 10px;
  margin: 3rem;
}