.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    overflow: auto;
    scrollbar-width: none;
}